# build fragments
*.o
*.a
*.so

# outputs
out/
*.log
/out.ppm

# cmake build directories
**/build-*

# scons
.sconsign.dblite

# project files
*.creator
*.creator.user
*.config
*.files
*.cflags
*.cxxflags
*.includes
.vscode/
.qtc_clangd/

# doc
doc/html/

# os
.directory

# binaries
/apply
/ppm
