// build
*.o
*.a
*.so

// outputs
out/
*.log
/apply

// scons
.sconsign.dblite

// creator project files
*.creator
*.creator.user
*.config
*.files
*.cflags
*.cxxflags
*.includes

// doc
doc/html/

// os
.directory

