/rtsp_on_demand
/multicast_h264
/multicast_h264_no_rtcp
/multicast_h264_static_address
/jpeg_multiple_source_stream
/jpeg_no_new_source_stream
/jpeg_one_frame
/jpeg_stream
/jpeg_streaming
/openRTSP
/smooth_transition
/mkv_demux
/destruction
/simple_jpeg_streaming
