*.includes
*.cflags
*.cxxflags
/crtp
/getline
/game_fsm
/game_fsm2
/game_fsm3
/istream_iterator_file
/listener_function
/listener_visitor
/path_tail
/ref_to_ptr
/set_container
/set_container_sort
/struct_hier
/value_proxy
/filter
/filter_ptr
/pretty_function_macro
/file_name_from_file
/observer
/inheritance_from_base_ctor
/float_and_literal_comparsion
/openfile
/equal
/avoid_hierarchy
/map_insert
/uniqueptr
/uniqueptr_func
/system_handle
/pixel_range
/file_handle
/inheritance
