Source: helloworld
Maintainer: Adam Hlavatovic <adam.hlavatovic@protonmail.ch>
Build-Depends: debhelper (>= 9) 
Standards-Version: 3.9.5
Section: utils

Package: helloworld
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a simple helloworld package
	Just prints "Hi", it's very useful.
