/concurrency-with-modern-cpp.*
/spin_lock
/condition_var
/create_thread
/dead_lock
/unique_lock_dead_lock_resolved
/scoped_lock_dead_lock_resolved
/reader_writer_lock
/call_once
/call_once_singleton
/mayers_singleton
/thread_local_state
/async_vs_thread
/async_lazy
/fire_and_forget_futures
/dot_product_async
/async_dot_product
/packaged_task
/packaged_task_dot_product
/promise_future
/promise_wait_for
/shared_future
/promise_future_exception
/promise_future_synchronise
/exception_execution_policy
/new_algorithm
